

h1{
    
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}
h4{
    text-align: top;
    font-weight: bold;
}
p{
   text-align: left;
   font-weight: normal;
}
.event-box {
    margin-bottom: 25px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.event-image img {
    border-radius: 100%; /* Makes the image circular */
    max-width: 160px; /* Adjust the size as needed */
    border: 2px solid #007BFF; /* Add a blue border to the circular image */
}

.event-details {

    flex-grow: 1;
    margin-left: 20px;
}

.event-details p {
    margin: 10px 0;
}

.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
